[submodule "themes/terrassa"]
	path = themes/terrassa
	url = https://github.com/danielkvist/hugo-terrassa-theme.git
[submodule "themes/cupper"]
	path = themes/cupper
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
